@model ActeAdministratif.Areas.Identity.Data.SNDIUser
@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "_Layout"; // Disable the layout for this specific page
}



<head>
    <style>
        .center-text {
            text-align: center;
            color: orange;
        }

        .uniform-border {
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-label {
            font-weight: bold;
            font-size: 16px;
        }
    </style>

</head>

@{
    ViewData["Title"] = "Home Page";
}

       


        <section class="content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h4 class="text-center">Modifier mon mot de passe</h4>
                        <div class="text-center">
                            <img src="~/img/profile.jpg" class="img-fluid" alt="Profile Image" style="max-width: 200px; margin-bottom: 20px;">
                        </div>
                        <form method="post">
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                <label for="Email">Nouvel e-mail :</label>
                                <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" />
                            </div>

                            <div class="form-group">
                                <label for="Password">Nouveau mot de passe :</label>
                                <input type="password" class="form-control" id="Password" name="Password" />
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Mettre à jour</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </section>





    
    