@model Identity.Models.User
@{
    ViewData["Title"] = "CREATE USER";
}

@{
    Layout = "_Layout"; // Disable the layout for this specific page
}

        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Ajout d'un operateur</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Create User</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <hr />
                    <a asp-action="" class="btn btn-secondary">Back</a>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="content-wrapper">
                        <div class="row">
                            <div content="container-fluid">
                                <h2>Le password sera généré lors de la création</h2>
                                <form method="post" class="g-3 needs-validation uniform-border">
                                    <div class="container-fluid">
                                        <div class="row g-3 needs-validation">
                                            <div class="col-md-4 position-relative">
                                                <label asp-for="Name"></label>
                                                <input asp-for="Name" class="form-control" />
                                            </div>
                                           
                                            <div class="col-md-4 position-relative">
                                                <label asp-for="PhoneNumber"></label>
                                                <input asp-for="PhoneNumber" class="form-control" />
                                            </div>
                                            <div class="col-md-4 position-relative">
                                                <label asp-for="Email"></label>
                                                <input asp-for="Email" class="form-control" />
                                            </div>
                                            <!-- D'autres champs de formulaire ici -->
                                            

                                            <div class="row">
                                                <div class="col-md-4 mt-3">
                                                    <button type="submit" class="btn btn-primary">Create</button>
             
                                             </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            
                            </div>
                        </div>
                        <!-- Bouton en bas de la page (hors du formulaire) -->
                        
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- /.content -->
        </div>
  