@*@model Identity.Models.User*@
@model ActeAdministratif.Areas.Identity.Data.SNDIUser
@{
    ViewData["Title"] = "UPDATE USER";
}
@{
    Layout = "_Layout"; // Disable the layout for this specific page
}

        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    
                </div>
            </section>

<div asp-validation-summary="All" class="text-danger"></div>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Modification des données de l'operateur</h1>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                       
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="content-wrapper">
                            <form asp-action="Update" method="post">
                                <div class="form-group">
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" class="form-control"  />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input name="password" class="form-control" />
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                            </div>
                     </div>
             <div>
            <a asp-action="Index">Back to List</a>
                        </div>
                        <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
    </div>
      