@model ActeAdministratif.Models.Document

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = null; // Disable the layout for this specific page
}


<head>
    <style>
        .center-text {
            text-align: center;
            color: orange;
        }

        .uniform-border {
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
    
        .form-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-label {
            font-weight: bold;
            font-size: 16px;
        }
    </style>

</head>

@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null; // Disable the layout for this specific page
}

<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sndi| Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/img/ActeAdministratif.jpg" alt="SNDI" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>    
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>   
            </ul>

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/img/ActeAdministratif.jpg" alt="Sndi Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">SNDI</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">ID User</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="./index.html" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Gestion des operateurs de saisie</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>

                                        <p>Demande initier</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Documents"
                                    asp-action="Index">
                                     <i class="far fa-circle nav-icon"></i>
                                        <p>Enregister demandeur</p>
                                     </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="pages/widgets.html" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Widgets
                                    <span class="right badge badge-danger">New</span>
                                </p>
                            </a>
                        </li>
                        
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Advanced Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Advanced Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="center-text">
                <h4>Saisie des informations sur le demandeur</h4>
            </div>
            <hr />
            <form asp-action="Create" class="row g-3 needs-validation uniform-border" novalidate enctype="multipart/form-data">

                <div class="row g-3 needs-validation">
                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip01" class="form-label">Numero</label>
                        <input type="text" class="form-control" id="validationTooltip01" asp-for="Numero" required>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip02" class="form-label">Du</label>
                        <input type="date" class="form-control" id="validationTooltip02" asp-for="Date" required>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 position-relative">
                        <label for="validationTooltipUsername" class="form-label">Circonscription</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="validationTooltipUsername3" asp-for="Circonscription" required>
                            <div class="invalid-tooltip">
                                Please choose a unique and valid circonscription.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 position-relative">
                        <label for="validationTooltip03" class="form-label">Centre d'etablissement</label>
                        <input type="text" class="form-control" id="validationTooltip04" asp-for="LieuxEtablissement" required>
                        <div class="invalid-tooltip">
                            Please provide a valid lieu d'établissement.
                        </div>
                    </div>

                    <div class="col-md-3 position-relative">
                        <label for="validationTooltip04" class="form-label">Nom de famille</label>
                        <input type="text" class="form-control" id="validationTooltip05" asp-for="NomDeFamille" required>
                        <div class="invalid-tooltip">
                            Please provide a valid nom de famille.
                        </div>
                    </div>
                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip05" class="form-label">Nom de jeune fille</label>
                        <input type="text" class="form-control" id="validationTooltip06" asp-for="NomDeJeuneFille" required>
                        <div class="invalid-tooltip">
                            Please provide a valid nom de jeune fille.
                        </div>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label for="validationTooltip05" class="form-label">Prenom</label>
                        <input type="text" class="form-control" id="validationTooltip07" asp-for="Prenom" required>
                        <div class="invalid-tooltip">
                            Please provide a valid prenom.
                        </div>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label for="validationTooltip05" class="form-label">Pseudo</label>
                        <input type="text" class="form-control" id="validationTooltip08" asp-for="Pseudo" required>
                        <div class="invalid-tooltip">
                            Please provide a valid pseudo.
                        </div>
                    </div>

                            <div class="col-md-3 position-relative">
                                <label for="validationTooltip04" class="form-label">Sexe</label>
                                <select class="form-control select2 select2-danger" id="validationTooltip09" name="Sexe" required asp-for="Sexe" data-dropdown-css-class="select2-danger">
                                    <option selected disabled value="">Choisir un genre.</option>
                                    <option value="1">Homme</option>
                                    <option value="2">Femme</option>
                                </select>
                                <div class="invalid-tooltip">
                                    Please select a valid gender.
                                </div>
                            </div>


                    <div class="col-md-3 position-relative">
                        <label for="validationTooltip05" class="form-label">Situation Matrimoniale</label>
                                <select class="form-control select2 select2-danger" id="validationTooltip10" name="SituationMatrimoniale" required asp-for="SituationMatrimoniale">
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Celibataire</option>
                            <option value="2">Marié</option>
                        </select>
                        <div class="invalid-tooltip">
                            Please select a valid marital status.
                        </div>
                    </div>

                    <div class="col-md-3 position-relative">
                        <label for="validationTooltip06" class="form-label">Nombre d'Enfants</label>
                        <input type="number" class="form-control" id="validationTooltip11" asp-for="NombreEnfant" required>
                        <div class="invalid-tooltip">
                            Please provide a valid number of children.
                        </div>
                    </div>

                    <div class="col-md-3 position-relative">
                        <label for="validationTooltip07" class="form-label">Date de Naissance</label>
                        <input type="date" class="form-control" id="validationTooltip12" asp-for="DateDenaissance" required>
                        <div class="invalid-tooltip">
                            Please provide a valid birth date.
                        </div>
                    </div>

                    <div class="col-md-3 position-relative">
                        <label for="validationTooltip08" class="form-label">Lieu de Naissance</label>
                        <input type="text" class="form-control" id="validationTooltip13" asp-for="LieuxNaissance" required>
                        <div class="invalid-tooltip">
                            Please provide a valid birthplace.
                        </div>
                    </div>


                    <div class="col-md-3 position-relative">
                        <label for="validationTooltip14" class="form-label">Pays de Naissance</label>
                        <select class="form-select" id="validationTooltip14" asp-for="PaysNaissance" required>
                            <option value="" selected disabled>Choose...</option>
                        </select>
                        <div class="invalid-tooltip">
                            Please select a valid country of birth.
                        </div>
                    </div>

                    <script>
                        // Fonction pour charger la liste des pays depuis l'API
                        async function loadCountries() {
                            const response = await fetch('https://restcountries.com/v3.1/all');
                            const data = await response.json();

                            const selectElement = document.getElementById('validationTooltip14');

                            data.forEach(country => {
                                const option = document.createElement('option');
                                option.value = country.cca3; // Utilisez un identifiant unique pour la valeur
                                option.textContent = country.name.common;
                                selectElement.appendChild(option);
                            });
                        }

                        // Appeler la fonction lors du chargement de la page
                        loadCountries();
                    </script>




                    <div class="col-md-6 position-relative">
                        <label for="validationTooltip15" class="form-label">Nationalité</label>
                        <select class="form-select" id="validationTooltip15" asp-for="Nationnalite" required>
                            <option value="" selected disabled>Choose...</option>
                        </select>
                        <div class="invalid-tooltip">
                            Please select a valid nationality.
                        </div>
                    </div>

                    <script>
                        // Fonction pour charger les nationalités depuis l'API
                        async function loadNationalities() {
                            const response = await fetch('https://restcountries.com/v3.1/all');
                            const data = await response.json();

                            const selectElement = document.getElementById('validationTooltip15');

                            data.forEach(country => {
                                const option = document.createElement('option');
                                option.value = country.cca3; // Utilisez un identifiant unique pour la valeur
                                option.textContent = country.name.common;
                                selectElement.appendChild(option);
                            });
                        }

                        // Appeler la fonction lors du chargement de la page
                        loadNationalities();
                    </script>



                    <div class="col-md-5 position-relative">
                        <label for="validationTooltip11" class="form-label">Commune de Naissance</label>
                        <input type="text" class="form-control" id="validationTooltip16" asp-for="CommuneDeNaissance" required>
                        <div class="invalid-tooltip">
                            Please provide a valid birth municipality.
                        </div>
                    </div>

                    <div class="col-md-3 position-relative">
                        <label for="validationTooltip12" class="form-label">Numéro de Téléphone</label>
                        <input type="text" class="form-control" id="validationTooltip17" asp-for="NumeroDeTelephone" required>
                        <div class="invalid-tooltip">
                            Please provide a valid phone number.
                        </div>
                    </div>

                    <div class="col-md-7 position-relative">
                        <label for="validationTooltip13" class="form-label">Profession</label>
                        <input type="text" class="form-control" id="validationTooltip18" asp-for="Profession" required>
                        <div class="invalid-tooltip">
                            Please provide a valid profession.
                        </div>
                    </div>

                    <div class="col-md-5 position-relative">
                        <label for="validationTooltip14" class="form-label">Domicile</label>
                        <input type="text" class="form-control" id="validationTooltip19" asp-for="Domicile" required>
                        <div class="invalid-tooltip">
                            Please provide a valid domicile.
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip15" class="form-label">Type de Pièce</label>
                        <input type="text" class="form-control" id="validationTooltip20" asp-for="TypeDepiece" required>
                        <div class="invalid-tooltip">
                            Please provide a valid type of document.
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip16" class="form-label">Numéro de Pièce</label>
                        <input type="text" class="form-control" id="validationTooltip21" asp-for="NumeroDePiece" required>
                        <div class="invalid-tooltip">
                            Please provide a valid document number.
                        </div>
                    </div>

                    <div class="col-md-7 position-relative">
                        <label for="validationTooltip17" class="form-label">Date d'Édition</label>
                        <input type="date" class="form-control" id="validationTooltip22" asp-for="DateEdition" required>
                        <div class="invalid-tooltip">
                            Please provide a valid edition date.
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="text-end">
                            <button class="btn btn-primary" type="submit">Suivant</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2023 <a href="https://adminlte.io">SNDI</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
  </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/dist/js/pages/dashboard.js"></script>
</body>
</html>














@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
