@model ActeAdministratif.Models.Document

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "_Layout"; // Disable the layout for this specific page
}



<head>
    <style>
        .center-text {
            text-align: center;
            color: orange;
        }

        .uniform-border {
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
    
        .form-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-label {
            font-weight: bold;
            font-size: 16px;
        }
    </style>

</head>

@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout"; // Disable the layout for this specific page
}

        <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Etape 1/2</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Advanced Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="center-text">
                <h4>Saisie des informations sur le demandeur</h4>
            </div>
            <hr />
            <form asp-action="Create" class="row g-3 needs-validation uniform-border" novalidate enctype="multipart/form-data">
               <div class="container-fluid">
                <div class="row g-3 needs-validation">
                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip01" class="form-label">Numero</label>
                        <input type="text" class="form-control" id="validationTooltip01" asp-for="Numero" required>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip02" class="form-label">Du</label>
                        <input type="date" class="form-control" id="validationTooltip02" asp-for="Date" required>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltipUsername" class="form-label">Circonscription</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="validationTooltipUsername3" asp-for="Circonscription" required>
                            <div class="invalid-tooltip">
                                Please choose a unique and valid circonscription.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip04" class="form-label">Centre d'etablissement</label>
                        <select class="form-control select2 select2-danger" id="validationTooltip04" name="Sexe" required asp-for="LieuxEtablissement" data-dropdown-css-class="select2-danger">
                            <option selected disabled value="">Choisir un genre.</option>
                            <option value="1">MAIRIE</option>
                            <option value="2">PREFECTURE</option>
                        </select>
                        <div class="invalid-tooltip">
                            Please provide a valid lieu d'établissement.
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip04" class="form-label">Nom de famille</label>
                        <input type="text" class="form-control" id="validationTooltip05" asp-for="NomDeFamille" required>
                        <div class="invalid-tooltip">
                            Please provide a valid nom de famille.
                        </div>
                    </div>
                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip05" class="form-label">Nom de jeune fille</label>
                        <input type="text" class="form-control" id="validationTooltip06" asp-for="NomDeJeuneFille" required>
                        <div class="invalid-tooltip">
                            Please provide a valid nom de jeune fille.
                        </div>
                    </div>
                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip05" class="form-label">Prenom</label>
                        <input type="text" class="form-control" id="validationTooltip07" asp-for="Prenom" required>
                        <div class="invalid-tooltip">
                            Please provide a valid prenom.
                        </div>
                    </div>
                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip05" class="form-label">Pseudo</label>
                        <input type="text" class="form-control" id="validationTooltip08" asp-for="Pseudo" >
                        <div class="invalid-tooltip">
                            Please provide a valid pseudo.
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip04" class="form-label">Sexe</label>
                        <select class="form-control select2 select2-danger" id="validationTooltip09" name="Sexe" required asp-for="Sexe" data-dropdown-css-class="select2-danger">
                            <option selected disabled value="">Choisir un genre.</option>
                            <option value="1">HOMME</option>
                            <option value="2">FEMME</option>
                        </select>
                        <div class="invalid-tooltip">
                            Please select a valid gender.
                        </div>
                    </div>


                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip05" class="form-label">Situation Matrimoniale</label>
                                <select class="form-control select2 select2-danger" id="validationTooltip10" name="SituationMatrimoniale" required asp-for="SituationMatrimoniale">
                            <option selected disabled value="">Choose..</option>
                            <option value="CELIBATAIRE">CELIBATAIRE</option>
                                        <option value="MARIE">MARIE</option>
                        </select>
                        <div class="invalid-tooltip">
                            Please select a valid marital status.
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip06" class="form-label">Nombre d'Enfants</label>
                        <input type="number" class="form-control" id="validationTooltip11" asp-for="NombreEnfant" required>
                        <div class="invalid-tooltip">
                            Please provide a valid number of children.
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip07" class="form-label">Date de Naissance</label>
                        <input type="date" class="form-control" id="validationTooltip12" asp-for="DateDenaissance" required>
                        <div class="invalid-tooltip">
                            Please provide a valid birth date.
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip08" class="form-label">Lieu de Naissance</label>
                        <input type="text" class="form-control" id="validationTooltip13" asp-for="LieuxNaissance" required>
                        <div class="invalid-tooltip">
                            Please provide a valid birthplace.
                        </div>
                    </div>


                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip14" class="form-label">Pays de Naissance</label>
                                <select class="form-control select2 select2-danger" id="validationTooltip14" asp-for="PaysNaissance" required>
                                <option value="" selected disabled>_____</option>
                                    @foreach (var country in ViewBag.Countries)
                                    {
                                        <option value="@country.Name_fr">@country.Name_fr</option>
                                    }
                           </select>
                          <div class="invalid-tooltip">
                            Please select a valid country.
                          </div>
                      </div>


                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip15" class="form-label">Nationalité</label>
                                <select class="form-control select2 select2-danger" id="validationTooltip15" asp-for="Nationnalite" required>
                            <option value="" selected disabled>_____</option>
                                    @foreach (var country in ViewBag.Countries)
                                    {
                                        <option value="@country.Nationality">@country.Nationality</option>
                                    }
                        </select>
                        <div class="invalid-tooltip">
                            Please select a valid nationality.
                        </div>
                    </div>


                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip11" class="form-label">Commune de Naissance</label>
                        <input type="text" class="form-control" id="validationTooltip16" asp-for="CommuneDeNaissance" required>
                        <div class="invalid-tooltip">
                            Please provide a valid birth municipality.
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip12" class="form-label">Numéro de Téléphone</label>
                        <input type="text" class="form-control" id="validationTooltip17" asp-for="NumeroDeTelephone" required>
                        <div class="invalid-tooltip">
                            Please provide a valid phone number.
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip13" class="form-label">Profession</label>
                        <input type="text" class="form-control" id="validationTooltip18" asp-for="Profession" required>
                        <div class="invalid-tooltip">
                            Please provide a valid profession.
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip14" class="form-label">Domicile</label>
                        <input type="text" class="form-control" id="validationTooltip19" asp-for="Domicile" required>
                        <div class="invalid-tooltip">
                            Please provide a valid domicile.
                        </div>
                    </div>

                  
                <div class="col-md-4 position-relative">
                    <label for="validationTooltip20" class="form-label">Type de Pièce</label>
                    <select class="form-control select2 select2-danger" id="validationTooltip20" name="SituationMatrimoniale" required asp-for="TypeDepiece">
                        <option selected disabled value="">Choose..</option>
                        <option value="1">CARTE DE NATIONNALITE</option>
                        <option value="2">PERMIS DE CONDUITE</option>
                        <option value="2">PASSEPORT</option>
                    </select>
                    <div class="invalid-tooltip">
                        Please provide a valid type of document.
                    </div>
                </div>



                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip16" class="form-label">Numéro de Pièce</label>
                        <input type="text" class="form-control" id="validationTooltip21" asp-for="NumeroDePiece" required>
                        <div class="invalid-tooltip">
                            Please provide a valid document number.
                        </div>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip17" class="form-label">Date d'Édition</label>
                        <input type="date" class="form-control" id="validationTooltip22" asp-for="DateEdition" required>
                        <div class="invalid-tooltip">
                            Please provide a valid edition date.
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                                    <div class="center-text">
                            <button class="btn btn-success" type="submit">Suivant</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
       