@model ActeAdministratif.Models.Document

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_Layout"; // Disable the layout for this specific page
}

<head>
    <style>
        .center-text {
            text-align: center;
            color: orange;
        }

        .uniform-border {
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
    </style>


</head>


        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                           
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Advanced Form</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="center-text">
                        <h4>Modification des informations sur le demandeur</h4>
                    </div>
                    <hr />
                    <form asp-action="Edit" class="row g-3 needs-validation uniform-border" novalidate enctype="multipart/form-data">
                        <div class="col-md-4 position-relative">
                            <label for="validationTooltip01" class="form-label">Numero</label>
                            <input type="hidden" asp-for="id" />
                            <input type="text" class="form-control" id="validationTooltip01" asp-for="Numero" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label for="validationTooltip02" class="form-label">Date</label>
                            <input type="date" class="form-control" id="validationTooltip02" asp-for="Date" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label for="validationTooltipUsername" class="form-label">Circonscription</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="validationTooltipUsername" asp-for="Circonscription" required>
                                <div class="invalid-tooltip">
                                    Please choose a unique and valid circonscription.
                                </div>
                            </div>
                        </div>

                        <!-- Ajoutez ici les autres champs en suivant la même structure que ci-dessus -->

                        <div class="col-md-4 position-relative">
                            <label for="validationTooltip04" class="form-label">Centre d'etablissement</label>
                            <select class="form-control select2 select2-danger" id="validationTooltip04" name="Sexe" required asp-for="LieuxEtablissement" data-dropdown-css-class="select2-danger">
                                <option selected disabled value="">Choisir un genre.</option>
                                <option value="1">MAIRIE</option>
                                <option value="2">PREFECTURE</option>
                            </select>
                            <div class="invalid-tooltip">
                                Please provide a valid lieu d'établissement.
                            </div>
                        </div>

                        <div class="col-md-3 position-relative">
                            <label for="validationTooltip04" class="form-label">Nom de famille</label>
                            <input type="text" class="form-control" id="validationTooltip04" asp-for="NomDeFamille" required>
                            <div class="invalid-tooltip">
                                Please provide a valid nom de famille.
                            </div>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label for="validationTooltip05" class="form-label">Nom de jeune fille</label>
                            <input type="text" class="form-control" id="validationTooltip05" asp-for="NomDeJeuneFille" required>
                            <div class="invalid-tooltip">
                                Please provide a valid nom de jeune fille.
                            </div>
                        </div>

                        <div class="col-md-3 position-relative">
                            <label for="validationTooltip06" class="form-label">Prenom</label>
                            <input type="text" class="form-control" id="validationTooltip06" asp-for="Prenom" required>
                            <div class="invalid-tooltip">
                                Please provide a valid prenom.
                            </div>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="Pseudo" class="form-label">Pseudo</label>
                            <input asp-for="Pseudo" class="form-control" />
                            <span asp-validation-for="Pseudo" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="Sexe" class="form-label">Sexe</label>
                            <input asp-for="Sexe" class="form-control" />
                            <span asp-validation-for="Sexe" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="SituationMatrimoniale" class="form-label">Situation Matrimoniale</label>
                            <input asp-for="SituationMatrimoniale" class="form-control" />
                            <span asp-validation-for="SituationMatrimoniale" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="NombreEnfant" class="form-label">Nombre d'Enfants</label>
                            <input asp-for="NombreEnfant" class="form-control" />
                            <span asp-validation-for="NombreEnfant" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="DateDenaissance" class="form-label">Date de Naissance</label>
                            <input asp-for="DateDenaissance" class="form-control" />
                            <span asp-validation-for="DateDenaissance" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="LieuxNaissance" class="form-label">Lieu de Naissance</label>
                            <input asp-for="LieuxNaissance" class="form-control" />
                            <span asp-validation-for="LieuxNaissance" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label for="validationTooltip14" class="form-label">Pays de Naissance</label>
                            <select class="form-control select2 select2-danger" id="validationTooltip14" asp-for="PaysNaissance" required>
                                <option value="" selected disabled>_____</option>
                                @foreach (var country in ViewBag.Countries)
                                {
                                    <option value="@country.Name_fr">@country.Name_fr</option>
                                }
                            </select>
                            <div class="invalid-tooltip">
                                Please select a valid country.
                            </div>
                        </div>


                        <div class="col-md-4 position-relative">
                            <label for="validationTooltip15" class="form-label">Nationalité</label>
                            <select class="form-control select2 select2-danger" id="validationTooltip15" asp-for="Nationnalite" required>
                                <option value="" selected disabled>_____</option>
                                @foreach (var country in ViewBag.Countries)
                                {
                                    <option value="@country.Nationality">@country.Nationality</option>
                                }
                            </select>
                            <div class="invalid-tooltip">
                                Please select a valid nationality.
                            </div>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="CommuneDeNaissance" class="form-label">Commune de Naissance</label>
                            <input asp-for="CommuneDeNaissance" class="form-control" />
                            <span asp-validation-for="CommuneDeNaissance" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 position-relative">
                            <label asp-for="NumeroDeTelephone" class="form-label">Numéro de Téléphone</label>
                            <input asp-for="NumeroDeTelephone" class="form-control" />
                            <span asp-validation-for="NumeroDeTelephone" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="Profession" class="form-label">Profession</label>
                            <input asp-for="Profession" class="form-control" />
                            <span asp-validation-for="Profession" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="Domicile" class="form-label">Domicile</label>
                            <input asp-for="Domicile" class="form-control" />
                            <span asp-validation-for="Domicile" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="TypeDepiece" class="form-label">Type de Pièce</label>
                            <input asp-for="TypeDepiece" class="form-control" />
                            <span asp-validation-for="TypeDepiece" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="NumeroDePiece" class="form-label">Numéro de Pièce</label>
                            <input asp-for="NumeroDePiece" class="form-control" />
                            <span asp-validation-for="NumeroDePiece" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 position-relative">
                            <label asp-for="DateEdition" class="form-label">Date d'Édition</label>
                            <input asp-for="DateEdition" class="form-control" />
                            <span asp-validation-for="DateEdition" class="text-danger"></span>
                        </div>

                        <!-- Répétez cette structure pour les autres champs -->

                        <div class="col-12">
                            <div class="text-end">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
      


