@model ActeAdministratif.Models.Filiation
@{
    ViewData["Title"] = "Create";
}
@{
    Layout = null; // Disable the layout for this specific page
}


<head>
    <style>
        .center-text {
            text-align: center;
            color: orange;
        }

        .uniform-border {
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
    </style>


</head>

@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout"; // Disable the layout for this specific page
}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h3>Etape 2/2</h3>
                        </div>
                       
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="center-text">
                        <h4>Saisie des informations sur la filiation</h4>
                    </div>
                    <hr />
              <form asp-action="Create" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
                  <input type="hidden" asp-for="DocumentId" />
                        <div class="row g-3 needs-validation">
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip01" class="form-label">Nom du père</label>
                                <input type="text" class="form-control" id="validationTooltip01" asp-for="NomPere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>

                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip02" class="form-label">Prénom du père</label>
                                <input type="text" class="form-control" id="validationTooltip02" asp-for="PrenomPere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>

                           >
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip03" class="form-label">Né le</label>
                                <input type="date" class="form-control" id="validationTooltip03" asp-for="DateDenaissancePere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>

                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip04" class="form-label">Lieu de Naissance du père</label>
                                <input type="text" class="form-control" id="validationTooltip04" asp-for="LieuxNaissancePere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>

                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip05" class="form-label">Type de pieces</label>
                                <select class="form-control select2 select2-danger" id="validationTooltip05" name="TypeDePiecesPere" required asp-for="TypeDePiecesPere" data-dropdown-css-class="select2-danger">
                                    <option selected disabled value="">Choisir un type.</option>
                                    <option value="1">CARTE NATIONNALE</option>
                                    <option value="2">PERMIS CONDUITE</option>
                                    <option value="2">PASSEPORT</option>
                                </select>
                                <div class="invalid-tooltip">
                                    Please select a valid document.
                                </div>
                            </div>

                            <div class="col-md-4  position-relative">
                                <label for="validationTooltip06" class="form-label">Numero de pieces</label>
                                <input type="text" class="form-control" id="validationTooltip06" asp-for="NumeroPiecePere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                       
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip07" class="form-label">Date edition</label>
                                <input type="date" class="form-control" id="validationTooltip07" asp-for="DateeditionPere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                       
                            <div class="col-md-4  position-relative">
                                <label for="validationTooltip08" class="form-label">Lieux edition</label>
                                <input type="text" class="form-control" id="validationTooltip08" asp-for="LieuxEditionPere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>

                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip09" class="form-label">Nom de la mère</label>
                                <input type="text" class="form-control" id="validationTooltip09" asp-for="NomMere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>

                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip10" class="form-label">Prénom de la mère</label>
                                <input type="text" class="form-control" id="validationTooltip10" asp-for="PrenomMere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>

                            
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip11" class="form-label">Né le</label>
                                <input type="date" class="form-control" id="validationTooltip011" asp-for="DateDenaissanceMere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>

                            
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip12" class="form-label">Lieu de Naissance de la mère</label>
                                <input type="text" class="form-control" id="validationTooltip12" asp-for="LieuxNaissanceMere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>


                 
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip13" class="form-label">Type de pieces</label>
                                <select class="form-control select2 select2-danger" id="validationTooltip13" name="TypeDePiecesMere" required asp-for="TypeDePiecesMere" data-dropdown-css-class="select2-danger">
                                    <option selected disabled value="">Choisir un type.</option>
                                    <option value="1">CARTE NATIONNALE</option>
                                    <option value="2">PERMIS CONDUITE</option>
                                    <option value="2">PASSEPORT</option>
                                </select>
                                <div class="invalid-tooltip">
                                    Please select a valid document.
                                </div>
                            </div>

                            
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip14" class="form-label">Numero de pieces</label>
                                <input type="text" class="form-control" id="validationTooltip14" asp-for="NumeroPieceMere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                            
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip15" class="form-label">Date edition</label>
                                <input type="date" class="form-control" id="validationTooltip15" asp-for="DateeditionMere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                            
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip16" class="form-label">Lieux edition</label>
                                <input type="text" class="form-control" id="validationTooltip16" asp-for="LieuxEditionMere" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-12">
                            @*<button class="btn btn-primary" type="submit">Suivant</button>*@
                                

                                    <div class="card-body">
                                        <button type="submit" class="btn btn-success swalDefaultSuccess">
                                            Suivant
                                        </button>
                                    </div>
                        </div>
                        </div>

                </form>
               </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
 




            
     

