@model ActeAdministratif.Models.Filiation

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_Layout"; // Disable the layout for this specific page
}

<head>
    <style>
        .center-text {
            text-align: center;
            color: orange;
        }

        .uniform-border {
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
    </style>


</head>



        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Modification</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Advanced Form</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="center-text">
                        <h4>Modification des informations sur la Filiation</h4>
                    </div>
                    <hr />

                    <form asp-action="Edit" class="row g-3 needs-validation uniform-border">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="id" />

                        <div class="col-md-6 position-relative">
                            <label for="validationTooltip01" class="form-label">Nom du Père</label>
                            <input type="text" class="form-control" id="validationTooltip01" asp-for="NomPere" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-6 position-relative">
                            <label for="validationTooltip02" class="form-label">Prénom du Père</label>
                            <input type="text" class="form-control" id="validationTooltip02" asp-for="PrenomPere" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-6 position-relative">
                            <label for="validationTooltip03" class="form-label">Date de Naissance du Père</label>
                            <input type="date" class="form-control" id="validationTooltip03" asp-for="DateDenaissancePere" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-6 position-relative">
                            <label for="validationTooltip04" class="form-label">Lieu de Naissance du Père</label>
                            <input type="text" class="form-control" id="validationTooltip04" asp-for="LieuxNaissancePere" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-6 position-relative">
                                <label for="validationTooltip05" class="form-label">Type de pieces</label>
                                <select class="form-control select2 select2-danger" id="validationTooltip05" name="TypeDePiecesPere" required asp-for="TypeDePiecesPere" data-dropdown-css-class="select2-danger">
                                    <option selected disabled value="">Choisir un type.</option>
                                    <option value="1">CARTE NATIONNALE</option>
                                    <option value="2">PERMIS CONDUITE</option>
                                    <option value="2">PASSEPORT</option>
                                </select>
                                <div class="invalid-tooltip">
                                    Please select a valid document.
                                </div>
                          </div>

                        <div class="col-md-6 position-relative">
                            <label for="validationTooltip06" class="form-label">Numero de piece</label>
                            <input type="text" class="form-control" id="validationTooltip06" asp-for="NumeroPiecePere" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>
                        
                        <div class="col-md-6 position-relative">
                            <label for="validationTooltip07" class="form-label">Date edition</label>
                            <input type="date" class="form-control" id="validationTooltip07" asp-for="DateeditionPere" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-8 position-relative">
                            <label for="validationTooltip08" class="form-label">Lieux d edition</label>
                            <input type="text" class="form-control" id="validationTooltip08" asp-for="LieuxEditionPere" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>









                        <div class="col-md-6 position-relative">
                            <label for="validationTooltip05" class="form-label">Nom de la Mère</label>
                            <input type="text" class="form-control" id="validationTooltip05" asp-for="NomMere" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-6 position-relative">
                            <label for="validationTooltip06" class="form-label">Prénom de la Mère</label>
                            <input type="text" class="form-control" id="validationTooltip06" asp-for="PrenomMere" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-6 position-relative">
                            <label for="validationTooltip07" class="form-label">Date de Naissance de la Mère</label>
                            <input type="date" class="form-control" id="validationTooltip07" asp-for="DateDenaissanceMere" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-6 position-relative">
                            <label for="validationTooltip08" class="form-label">Lieu de Naissance de la Mère</label>
                            <input type="text" class="form-control" id="validationTooltip08" asp-for="LieuxNaissanceMere" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                       

                        <div class="col-12">
                            <div class="text-end">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </section>
        </div>
