@*@model List<ActeAdministratif.Models.DemandeInit>*@
@model List<ActeAdministratif.Models.DemandeInit>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout"; // Disable the layout for this specific page
}




        <!-- /.navbar -->
        
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Liste des demandeurs</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">

                                <li class="breadcrumb-item active">Dashboard v1</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>150</h3>

                                    <p>New Orders</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                                    <p>Bounce Rate</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>44</h3>

                                    <p>User Registrations</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>65</h3>

                                    <p>Unique Visitors</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                </div><!-- /.container-fluid -->
                
                <div>

            <div class="card">

                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Numero de l'extrait de naissance</th>
                                <th>Type d'Acte</th>
                                <th>Date de la demande</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                bool afficherLigne = false;
                                @foreach (var demande in Model)
                                {

                                    @if (demande.status == 0)
                                    {
                                        afficherLigne = true;
                                        <tr>
                                            <td>@demande.Enregistrer?.Document?.NomDeFamille @demande.Enregistrer?.Document?.Prenom</td>
                                            <td>@demande.Enregistrer?.Document?.Numero</td>
                                            <td>
                                                @if (demande.TypeActAdmin == "1")
                                                {

                                                    <text>CERTIFICAT NATIONALITE</text>
                                                }
                                                else
                                                {
                                                    <text>CASIER JUDICIAIRE</text>
                                                }
                                            </td>
                                            <td>@demande.DataRequet</td>
                                            <td>





                                                @if (demande.TypeActAdmin == "1")
                                                {
                                                    <a asp-action="Generate1" asp-route-id="@demande?.id"><i class="fas fa-download" style="color: black;"></i>Report</a>
                                                    <a asp-action="Edit" asp-route-id=" @demande?.id"><i class="fas fa-edit" style="color: green;"></i>Edit</a>

                                                }
                                                else
                                                {
                                                    <a asp-action="Generate" asp-route-id="@demande?.id"><i class="fa fa-download" style="color: black;"></i>Report</a>
                                                    <a asp-action="Edit" asp-route-id=" @demande?.id"><i class="fas fa-edit" style="color: green;"></i>Edit</a>
                                                }

                                            </td>
                                        </tr>
                                    }
                                }
                                if (!afficherLigne)
                                {
                                    <tr>
                                        <td colspan="5">AUCUN  DOCUMENT DISPONIBLE</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>

                    <!-- /.content -->
                </div>
            </section>




            <!-- /.content -->
        </div>






