@*@model List<ActeAdministratif.Models.DemandeInit>*@
@model List<ActeAdministratif.Models.DemandeInit>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout"; // Disable the layout for this specific page
}

<head>
    <style>
        .center-text {
            text-align: center;
            color: orange;
        }

        .uniform-border {
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-label {
            font-weight: bold;
            font-size: 16px;
        }
    </style>

</head>



        <!-- /.navbar -->
        
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2"> 
                        <div class="center-text">
                            <h1 class="text-center">Liste des demandes en attente</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">

                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                
           <div>

            <div class="card">

                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height:100px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Numero de l'extrait de naissance</th>
                                <th>Type d'Acte</th>
                                <th>Date de la demande</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                bool afficherLigne = false;
                                @foreach (var demande in Model)
                                {  

                                    @if (demande.status == 0)
                                    {
                                        afficherLigne = true;
                                        <tr>
                                            <td>@demande.Enregistrer?.Document?.NomDeFamille @demande.Enregistrer?.Document?.Prenom</td>
                                            <td>@demande.Enregistrer?.Document?.Numero</td>
                                            <td>
                                                @if (demande.TypeActAdmin == "1")
                                                {

                                                    <text>CERTIFICAT NATIONALITE</text>
                                                }
                                                else
                                                {
                                                    <text>CASIER JUDICIAIRE</text>
                                                }
                                            </td>
                                            <td>@demande.DataRequet</td>
                                            <td>





                                                @if (demande.TypeActAdmin == "1")
                                                {
                                                    <a data-toggle="tooltip" data-placement="top" title="Generer certificat de nationnalité" asp-action="Generate1" asp-route-id="@demande?.id"><i class="fas fa-download" style="color: black;"></i>|</a>
                                                    <a data-toggle="tooltip" data-placement="top" title="Modifier"  asp-action="Edit" asp-route-id="@demande?.id"><i class="fas fa-edit" style="color: green;"></i></a>

                                                }
                                                else
                                                {
                                                    <a data-toggle="tooltip" data-placement="top" title="Generer casier jurdiciaire" asp-action="Generate" asp-route-id="@demande?.id"><i class="fa fa-download" style="color: black;"></i>|</a>
                                                    <a data-toggle="tooltip" data-placement="top" title="Modifier" asp-action="Edit" asp-route-id="@demande?.id"><i class="fas fa-edit" style="color: green;"></i></a>
                                                }

                                            </td>
                                        </tr>
                                    }
                                }
                                if (!afficherLigne)
                                {
                                    <tr>
                                        <td colspan="5">
                                            <div class="text-center">AUCUN DOCUMENT DISPONIBLE...</div>
                                        </td>
                                    </tr>

                                }
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
                </div>
            </section>
        </div>






